<!-- <div class="row">
    <div class="col-3">
    </div>
</div> -->
<div class="row">
    <div class="col-6">
        <label>press to populate table</label>
        <br>
        <button class="btn btn-dark" (click)="getusers()">
            Load User
        </button>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                @for(item of userList;track $index){
                    <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phone}}</td>
                    <td>{{item.website}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4 offset-2">
        <label>press to populate drop down</label>
        <br>
            <button class="btn btn-dark" (click)="getproducts()">
                Load Products
            </button>
        <br>
        <select class="mt-3">
            @for(item of productList; track $index){
                <option [value]="item.product_id">
                    {{item.name}}
                </option>
            }
        </select>
    </div>
</div>