<form class="row g-3 needs-validation" [formGroup]="studentForm" (ngSubmit)="onSubmit()" novalidate enctype="multipart/form-data">
    <h4>Personal Information</h4>
    <div class="col-md-4">
      <label class="form-label">First Name <span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="firstName" formControlName="firstName">
    </div>
    <div class="col-md-4">
      <label class="form-label">Middle Name</label>
      <input type="text" class="form-control" name="middleName" formControlName="middleName">
    </div>
    <div class="col-md-4">
      <label class="form-label">Last Name<span class="text-danger">*</span></label>
      <input type="text" minlength="4" class="form-control" required name="lastName" formControlName="lastName">
    </div>
    <div class="col-md-4">
      <label class="form-label">Date of Birth</label>
      <input type="date" class="form-control" required name="dateOfBirth" formControlName="dateOfBirth">
    </div>
    <div class="col-md-4">
      <label class="form-label">Gender<span class="text-danger">*</span></label>
      <select class="form-select" required name="gender" formControlName="gender">
        <option selected disabled value="">Choose...</option>
        <option>Male</option>
        <option>Female</option>
        <option>Prefer not to say</option>
      </select>
    </div>
    <div class="col-md-4">
      <label class="form-label">Email<span class="text-danger">*</span></label> 
      <input type="email" class="form-control" required name="email" formControlName="email">
    </div>
    <div class="col-md-4">
      <label class="form-label">Phone<span class="text-danger">*</span></label>
      <input type="tel" class="form-control" required name="phone" formControlName="phone">
    </div>
    <div class="col-md-4">
      <label class="form-label">CNIC No.<span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="nationalId" formControlName="nationalId">
    </div>
    <h4>Address</h4>
    <div class="col-md-6">
      <label class="form-label">Permanent Address</label>
      <input type="text" class="form-control" name="permanentAddress" formControlName="permanentAddress">
    </div>
    <div class="col-md-6">
      <label class="form-label">Current Address<span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="currentAddress" formControlName="currentAddress">
    </div>
    <div class="col-md-4">
      <label class="form-label">City<span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="city" formControlName="city">
    </div>
    <div class="col-md-4">
      <label class="form-label">Province<span class="text-danger">*</span></label>
      <select class="form-select" required name="province" formControlName="province">
        <option selected value="Sindh">Choose...</option>
        <option>Sindh</option>
        <option>Punjab</option>
        <option>Balochistan</option>
        <option>KPK</option>
      </select>
    </div>
    <div class="col-md-4">
      <label class="form-label">Country<span class="text-danger">*</span></label>
      <input type="text" required class="form-control" name="country" formControlName="country">
    </div>
    <h4>Account</h4>
    <div class="col-md-4">
      <label class="form-label">Username<span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text">&#64;</span>
        <input type="text" class="form-control" required name="username" formControlName="username">
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Password<span class="text-danger">*</span></label>
      <input type="password" class="form-control" required name="password" formControlName="password">
    </div>
    <div class="col-md-4">
      <label class="form-label">Confirm Password<span class="text-danger">*</span></label>
      <input type="password" class="form-control" required name="confirmPassword" formControlName="confirmPassword">
    </div>
    <h4>Declarations</h4>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="hasDisability" formControlName="hasDisability">
        <label class="form-check-label">I have a disability</label>
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" required name="acceptedTerms" formControlName="acceptedTerms">
        <label class="form-check-label">Agree to terms and conditions<span class="text-danger">*</span></label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" required name="confirmedInformation" formControlName="confirmedInformation">
        <label class="form-check-label">I confirm that the information provided is accurate</label>
      </div>
    </div>
  
    <div class="col-12">
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>
    </div>
  </form>
  