<form class="row g-3 needs-validation" [formGroup]="studentForm" (ngSubmit)="onSubmit()" novalidate enctype="multipart/form-data">
    <h4>Personal Information</h4>
    <div class="col-md-4">
      <label class="form-label">First Name <span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="firstName" formControlName="firstName">
      <div class="text-danger" *ngIf="studentForm.controls['firstName'].errors?.['required'] && studentForm.controls['firstName'].touched">
        <span>First Name is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Middle Name</label>
      <input type="text" class="form-control" name="middleName" formControlName="middleName">
    </div>
    <div class="col-md-4">
      <label class="form-label">Last Name<span class="text-danger">*</span></label>
      <input type="text" minlength="4" class="form-control" required name="lastName" formControlName="lastName">
      <div class="text-danger" *ngIf="studentForm.controls['lastName'].errors && studentForm.controls['lastName'].touched">
        <span *ngIf="studentForm.controls['lastName'].errors?.['required']">Last Name is required</span>
        <span *ngIf="studentForm.controls['lastName'].errors?.['minlength']">Last Name must be at least 4 characters</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Date of Birth<span class="text-danger">*</span></label>
      <input type="date" class="form-control" required name="dateOfBirth" formControlName="dateOfBirth">
      <div class="text-danger" *ngIf="studentForm.controls['dateOfBirth'].errors?.['required']&& studentForm.controls['dateOfBirth'].touched">
        <span>Date of Birth is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Gender<span class="text-danger">*</span></label>
      <select class="form-select" required name="gender" formControlName="gender">
        <option selected disabled value="">Choose...</option>
        <option>Male</option>
        <option>Female</option>
        <option>Prefer not to say</option>
      </select>
      <div class="text-danger" *ngIf="studentForm.controls['gender'].errors?.['required'] && studentForm.controls['gender'].touched">
        <span>Gender is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Email<span class="text-danger">*</span></label>
      <input type="email" class="form-control" required name="email" formControlName="email">
      <div class="text-danger" *ngIf="studentForm.controls['email'].errors">
        <span *ngIf="studentForm.controls['email'].errors?.['required']&& studentForm.controls['email'].touched">Email is required</span>
        <span *ngIf="studentForm.controls['email'].errors?.['pattern']">Enter a valid email address</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Phone<span class="text-danger">*</span></label>
      <input type="tel"  maxlength="11" class="form-control" required name="phone" formControlName="phone">
      <div class="text-danger" *ngIf="studentForm.controls['phone'].errors && studentForm.controls['phone'].touched">
        <span *ngIf="studentForm.controls['phone'].errors?.['required']">Phone number is required</span>
        <span *ngIf="studentForm.controls['phone'].errors?.['maxlength']">Can enter 11 digits atmost</span>
        <span *ngIf="studentForm.controls['phone'].errors?.['pattern']">Only numeric character allowed</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">CNIC No.<span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="nationalId" formControlName="nationalId">
      <div class="text-danger" *ngIf="studentForm.controls['nationalId'].errors?.['required'] && studentForm.controls['nationalId'].touched">
        <span>CNIC is required</span>
      </div>
    </div>
    <div class="mb-3">
        <label for="profilePhoto" class="form-label">Upload Profile Photo</label>
        <input type="file" id="profilePhoto" accept="image/*" (change)="onFileChange($event)" class="form-control">
    </div>
    <div *ngIf="imagePreview">
        <p><strong>Preview:</strong></p>
        <img [src]="imagePreview" alt="Profile Preview" class="img-thumbnail" style="max-width: 200px;">
    </div>
    <h4>Residential Details</h4>
    <div class="col-md-6">
      <label class="form-label">Current Address<span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="currentAddress" formControlName="currentAddress">
      <div class="text-danger" *ngIf="studentForm.controls['currentAddress'].errors?.['required'] && studentForm.controls['currentAddress'].touched">
        <span>Current address is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">City<span class="text-danger">*</span></label>
      <input type="text" class="form-control" required name="city" formControlName="city">
      <div class="text-danger" *ngIf="studentForm.controls['city'].errors?.['required'] && studentForm.controls['city'].touched">
        <span>City is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Province<span class="text-danger">*</span></label>
      <select class="form-select" required name="province" formControlName="province">
        <option selected value="">Choose...</option>
        <option>Sindh</option>
        <option>Punjab</option>
        <option>Balochistan</option>
        <option>KPK</option>
      </select>
      <div class="text-danger" *ngIf="studentForm.controls['province'].errors?.['required'] && studentForm.controls['province'].touched">
        <span>Province is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Country<span class="text-danger">*</span></label>
      <input type="text" required class="form-control" name="country" formControlName="country">
      <div class="text-danger" *ngIf="studentForm.controls['country'].errors?.['required'] && studentForm.controls['country'].touched">
        <span>Country is required</span>
      </div>
    </div>
    <h4>Set username and Password</h4>
    <div class="col-md-4">
      <label class="form-label">Username<span class="text-danger">*</span></label>
      <div class="input-group">
        <span class="input-group-text">&#64;</span>
        <input type="text" class="form-control" required name="username" formControlName="username">
      </div>
      <div class="text-danger" *ngIf="studentForm.controls['username'].errors?.['required'] && studentForm.controls['username'].touched">
        <span>Username is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Password<span class="text-danger">*</span></label>
      <input type="password" class="form-control" required name="password" formControlName="password">
      <div class="text-danger" *ngIf="studentForm.controls['password'].errors?.['required'] && studentForm.controls['password'].touched">
        <span>Password is required</span>
      </div>
    </div>
    <div class="col-md-4">
      <label class="form-label">Confirm Password<span class="text-danger">*</span></label>
      <input type="password" class="form-control" required name="confirmPassword" formControlName="confirmPassword">
      <div class="text-danger" *ngIf="studentForm.controls['confirmPassword'].errors?.['required'] && studentForm.controls['confirmPassword'].touched">
        <span>Confirmation is required</span>
      </div>
      <div class="text-danger" *ngIf="studentForm.errors?.['passwordMismatch'] && studentForm.get('confirmPassword')?.touched">
        Passwords do not match
      </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">Start Date<span class="text-danger">*</span></label>
        <input type="date" class="form-control" required name="startDate" formControlName="startDate">
        <div class="text-danger" *ngIf="studentForm.controls['startDate'].errors?.['required'] && studentForm.controls['startDate'].touched">
            <span>Start date required</span>
        </div>
    </div>
    <div class="col-md-4">
        <label class="form-label">End date<span class="text-danger">*</span></label>
        <input type="date" class="form-control" required name="endDate" formControlName="endDate">
        <div class="text-danger" *ngIf="studentForm.controls['endDate'].errors?.['required'] && studentForm.controls['endDate'].touched">
            <span>End date required</span>
        </div>
        <div class="text-danger" *ngIf="studentForm.errors?.['dateChecker']">
            End date must be greater than start date
        </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" required name="acceptedTerms" formControlName="acceptedTerms">
        <label class="form-check-label">Agree to terms and conditions<span class="text-danger">*</span></label>
        <div class="text-danger" *ngIf="studentForm.controls['acceptedTerms'].errors?.['required'] && studentForm.controls['acceptedTerms'].touched">
          <span>You must agree before submitting</span>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" required name="confirmedInformation" formControlName="confirmedInformation">
        <label class="form-check-label">I confirm that the information provided is accurate<span class="text-danger">*</span></label>
        <div class="text-danger" *ngIf="studentForm.controls['confirmedInformation'].errors?.['required'] && studentForm.controls['confirmedInformation'].touched">
          <span>Confirmation is required</span>
        </div>
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit" >Submit</button>
    </div>
  </form>
  