<div class="row">
    <div class="col-8 text-center">
        <h2>post api integration</h2>
    </div>
</div>
<div class="row pt-2">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h5>Car List</h5>
            </div>
            <div class="card-body">
                <!-- <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Req No</th>
                            <th>Daily Rate</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for( item of cars;track $index){
                            <tr>
                                <td>{{$index +1}}</td>
                                <td>{{item.brand}}</td>
                                <td>{{item.model}}</td>
                                <td>{{item.regNo}}</td>
                                <td>{{item.dailyRate}}</td>
                                <td><button class="btn btn-dark text-white" (click)="update(item)">Edit</button>
                                    <button class="btn btn-danger mt-2" (click)="onDelete(item.carId)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table> -->
                <table mat-table [dataSource]="dataSrc" class="mat-elevation-z8">
                    <ng-container matColumnDef="srno">
                      <th mat-header-cell *matHeaderCellDef> Sr.No </th>
                      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="brand">
                      <th mat-header-cell *matHeaderCellDef> Brand </th>
                      <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                    </ng-container>
                    <ng-container matColumnDef="model">
                      <th mat-header-cell *matHeaderCellDef> Model </th>
                      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                    </ng-container>
                    <ng-container matColumnDef="regNo">
                      <th mat-header-cell *matHeaderCellDef> Reg No </th>
                      <td mat-cell *matCellDef="let element"> {{element.regNo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dailyRate">
                      <th mat-header-cell *matHeaderCellDef> Daily Rate </th>
                      <td mat-cell *matCellDef="let element"> {{element.dailyRate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let element">
                        <button class="btn btn-dark text-white mt-2" (click)="update(element)">Edit</button>
                        <br>
                        <button class="btn btn-danger mt-2" (click)="onDelete(element.carId)">Delete</button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['srno', 'brand', 'model', 'regNo', 'dailyRate', 'actions']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['srno', 'brand', 'model', 'regNo', 'dailyRate', 'actions'];"></tr>
                  </table>
                  
                  <mat-paginator class="text-center"[pageSizeOptions]="[1,2,3,4,5,6,7,8,9,10]" showFirstLastButtons></mat-paginator>                  
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h5>Create a car</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 mt-2">
                        <label>Reg No</label>
                        <input type="text"  [(ngModel)]="carObj.regNo" class="form-control" placeholder=""/>
                    </div>
                    <div class="col-6 mt-2">
                        <label>Brand</label>
                        <input type="text"  [(ngModel)]="carObj.brand" class="form-control" placeholder="">
                    </div>
                    <div class="col-6 mt-2">
                        <label>Model</label>
                        <input type="text"  [(ngModel)]="carObj.model" class="form-control" placeholder="">
                    </div>
                    <div class="col-6 mt-2">
                        <label>Year</label>
                        <input type="text"  [(ngModel)]="carObj.year" class="form-control" placeholder="">
                    </div>
                    <div class="col-6 mt-2">
                        <label>Color</label>
                        <input type="text"  [(ngModel)]="carObj.color" class="form-control" placeholder="">
                    </div>
                    <div class="col-6 mt-2">
                        <label>Daily Rate</label>
                        <input type="text"  [(ngModel)]="carObj.dailyRate" class="form-control" placeholder="">
                    </div>
                    <div class="col-6 mt-2">
                        <label>Car Image URL</label>
                        <input type="text"  [(ngModel)]="carObj.carImage" class="form-control" placeholder="">
                    </div>
                    <br>
                    <button class="btn btn-dark text-white mt-2">reset</button>
                    @if (carObj.carId==0){
                    <button class="btn btn-success mt-2" (click)="onsave()">submit</button>}
                    @else {
                    <button class="btn btn-dark text-white mt-2" (click)="onUpdate()">update</button>}
                    <button class="btn text-white mt-2" style="background-color: darkslategray;" (click)="getallcars()">
                        load cars
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>